<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>Hello <%= @message %></p>

<a href="/pages/scores">Score Board</a>
<a href="/pages/contacts">Contacts</a>
<a href="/pages/about">About</a>
<a href="/pages/discussions">Discussion Board</a>
<a href="/pages/media">Media</a>
<a href="/pages/events">Events</a>
